{% extends 'myapp/base.html' %}
{% block title %} Product {% endblock title %}
{% block productactive %}active{% endblock productactive %}
{% load static %}
{% block body %}

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Products</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Products</li>
          </ol>
        </div>

      </div>
    </section>

      <!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
<h1 class="text-center" style="color:#f69422;">Products</h1>
      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
        
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-Bikes">Bikes</li>
            <li data-filter=".filter-Cars">Cars</li>
            <li data-filter=".filter-Heavy-Motors">Heavy Motors</li>
          </ul>
        </div>
      </div>
      {% for Products in all_post %}
    
      <div class="portfolio-container" style="box-sizing: border-box;"  data-aos="fade-up">

        <div class="col-lg-3 col-md-3 portfolio-item filter-{{ Products.category }}"style="width:50%;margin-left:-6px;">
          <img src="{{ Products.Image.url}}" style="height:200px;width:50%;padding-left :15px;" class="img-fluid" alt="{{ Products.category }}">
          <div class="portfolio-info">
            <h4>{{ Products.category }}</h4>
            <a href="{{ Products.Image.url }}" title="{{ Products.category }}"><i class="bx bx-plus"></i></a>
          </div>
          <div class="text-center"><a href="" class="btn-get-started">{{ Products.category }}</a></div>

        </div>
        {%endfor%}
    </section><!-- End Portfolio Section -->
    <!-- ======= Footer ======= -->
  <footer id="footer" style="margin-top:-20px;">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>G-Lay Nepal & Traders</h3>
            <p>
              Butwal-11<br>
              Rupandehi<br><br>
              <strong>Phone:</strong> +977 9866587350<br>
              <strong>Email:</strong> glaynepalandtraders@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>G-Lay Nepal & Traders</p>
            <form>
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>G-Lay Nepal</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href=""><br>Bivek Thapa & Shankar Bhandari</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/G-lay-Nepal-103299065089706" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
{% endblock body %}
